<h3 class="slim">{{model.name}}</h3>

<p class="lead">{{model.description}}</p>

There are {{items.length}} items in this hunt.

<button type="button" class="btn btn-primary btn-block">Start Hunt</button>
