<h3 class="slim">Available Hunts</h3>

<div class="form-group">
  {{#link-to 'new' class='btn btn-primary btn-block'}}Create a hunt{{/link-to}}
</div>

<div class="list-group">
  {{#each hunt in model}}
    {{#link-to 'hunt' hunt.id class='list-group-item'}}{{hunt.name}}{{/link-to}}
  {{/each}}
</div>
